:host {
  flex: 1;
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e4e8ef;
}

.transformed-elem {
  transform-box: fill-box;
}

.graphics-panel-svg {
  width: 850px;
  height: 1100px;
  border-width: 1px;
  border-style: solid;
  border-color: #666;
  background-color: #ffffff;
}
