:host {
  --light-background: #e4e8ef;
  --dark-background: #002233;
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: var(--light-background);
}

.transformed-elem {
  transform-box: fill-box;
}

.graphics-panel-svg {
  width: 850px;
  height: 1100px;
  border-width: 1px;
  border-style: solid;
  border-color: #666;
}

.graphics-panel-svg-light {
  background-color: #ffffff;
}

.graphics-panel-svg-dark {
  background-color: #000000;
}
