<svg viewBox="0 0 850 1100" class="graphics-panel-svg" (mousedown)="onSvgMouseDown($event)" (click)="onSvgClick()">
  @for (layer of sortedLayers(); track layer.clientUuid) {
    @for (circle of getCircles(layer); track circle.clientUuid) {
      <defs>
        <linearGradient [attr.id]="getGradientId(circle)" [attr.gradientTransform]="getGradientTransform(circle)">
          <stop offset="0%" [attr.stop-color]="circle.fillColorFrom" />
          <stop offset="100%" [attr.stop-color]="circle.fillColorTo" />
        </linearGradient>
      </defs>
      <circle
              (mousedown)="onCircleMouseDown(circle)"
              (click)="onCircleClick($event, circle)"
              class="transformed-elem"
              [attr.transform-origin]="getTransformOrigin(circle)"
              [attr.transform]="getTransform(circle)"
              [attr.cx]="circle.centerX"
              [attr.cy]="circle.centerY"
              [attr.r]="circle.radius"
              [attr.stroke]="selectionOutlineColor()"
              [attr.fill]="getGradientFillAttr(circle)"
              [attr.stroke-width]="selectedShapeClientUuid() === circle.clientUuid ? 2 : 0"
      />
    }
    @for (rectangle of getRectangles(layer); track rectangle.clientUuid) {
      <defs>
        <linearGradient [attr.id]="getGradientId(rectangle)" [attr.gradientTransform]="getGradientTransform(rectangle)">
          <stop offset="0%" [attr.stop-color]="rectangle.fillColorFrom" />
          <stop offset="100%" [attr.stop-color]="rectangle.fillColorTo" />
        </linearGradient>
      </defs>
      <rect
            (mousedown)="onRectangleMouseDown(rectangle)"
            (click)="onRectangleClick($event, rectangle)"
            class="transformed-elem"
            [attr.transform-origin]="getTransformOrigin(rectangle)"
            [attr.transform]="getTransform(rectangle)"
            [attr.x]="rectangle.x"
            [attr.y]="rectangle.y"
            [attr.width]="rectangle.width"
            [attr.height]="rectangle.height"
            [attr.stroke]="selectionOutlineColor()"
            [attr.fill]="getGradientFillAttr(rectangle)"
            [attr.stroke-width]="selectedShapeClientUuid() === rectangle.clientUuid ? 2 : 0"
      />
    }
    @for (textBox of getTextBoxes(layer); track textBox.clientUuid) {
      <text
            (mousedown)="onTextBoxMouseDown(textBox)"
            (click)="onTextBoxClick($event, textBox)"
            [attr.x]="textBox.x"
            [attr.y]="textBox.y"
            [attr.font-size]="textBox.fontSize"
            [attr.fill]="textBoxColor()"
            [attr.stroke]="selectionOutlineColor()"
            [attr.stroke-width]="selectedShapeClientUuid() === textBox.clientUuid ? 1 : 0"
            style="cursor:default;user-select:none"
      >{{ getTextBoxText(textBox) }}</text>
    }
  }
</svg>
