<div class="graphics-panel-svg-container">
  <div class="graphics-panel-svg-container-middle">
    <div class="graphics-panel-svg-container-inner">
      <svg viewBox="0 0 850 1100" [class]="graphicsPanelSvgClassName()" (mousedown)="onSvgMouseDown($event)" (click)="onSvgClick()">
        @for (layer of sortedLayers(); track layer.clientUuid) {
          @for (shape of layer.shapes; track getClientUuidFromShape(shape)) {
            @if (typeof shape.circle === "object" && shape.circle !== null) {
              <defs>
                <linearGradient [attr.id]="getGradientId(shape.circle)" x1="0" y1="0" [attr.x2]="getFillX2(shape.circle)" [attr.y2]="getFillY2(shape.circle)">
                  <stop offset="0%" [attr.stop-color]="shape.circle.fillColorFrom" />
                  <stop offset="100%" [attr.stop-color]="shape.circle.fillColorTo" />
                </linearGradient>
              </defs>
              <circle
                      (mousedown)="onCircleMouseDown($event, shape.circle)"
                      (click)="onCircleClick($event, shape.circle)"
                      class="transformed-elem"
                      [attr.transform-origin]="getTransformOriginCircle(shape.circle)"
                      [attr.transform]="getTransform(shape.circle)"
                      [attr.cx]="shape.circle.centerX"
                      [attr.cy]="shape.circle.centerY"
                      [attr.r]="shape.circle.radius"
                      [attr.stroke]="selectionOutlineColor()"
                      [attr.fill]="getGradientFillAttr(shape.circle)"
                      [attr.stroke-width]="selectedShapeClientUuid() === shape.circle.clientUuid ? 2 : 0"
              />
            }
            @if (typeof shape.rectangle === "object" && shape.rectangle !== null) {
              <defs>
                <linearGradient [attr.id]="getGradientId(shape.rectangle)" x1="0" y1="0" [attr.x2]="getFillX2(shape.rectangle)" [attr.y2]="getFillY2(shape.rectangle)">
                  <stop offset="0%" [attr.stop-color]="shape.rectangle.fillColorFrom" />
                  <stop offset="100%" [attr.stop-color]="shape.rectangle.fillColorTo" />
                </linearGradient>
              </defs>
              <rect
                    (mousedown)="onRectangleMouseDown($event, shape.rectangle)"
                    (click)="onRectangleClick($event, shape.rectangle)"
                    class="transformed-elem"
                    [attr.transform-origin]="getTransformOriginRectangle(shape.rectangle)"
                    [attr.transform]="getTransform(shape.rectangle)"
                    [attr.x]="shape.rectangle.x"
                    [attr.y]="shape.rectangle.y"
                    [attr.width]="shape.rectangle.width"
                    [attr.height]="shape.rectangle.height"
                    [attr.stroke]="selectionOutlineColor()"
                    [attr.fill]="getGradientFillAttr(shape.rectangle)"
                    [attr.stroke-width]="selectedShapeClientUuid() === shape.rectangle.clientUuid ? 2 : 0"
              />
            }
            @if (typeof shape.textBox === "object" && shape.textBox !== null) {
              <text
                    (mousedown)="onTextBoxMouseDown($event, shape.textBox)"
                    (click)="onTextBoxClick($event, shape.textBox)"
                    [attr.x]="shape.textBox.x"
                    [attr.y]="shape.textBox.y"
                    [attr.font-size]="shape.textBox.fontSize"
                    [attr.fill]="textBoxColor()"
                    [attr.stroke]="selectionOutlineColor()"
                    [attr.stroke-width]="selectedShapeClientUuid() === shape.textBox.clientUuid ? 1 : 0"
                    style="cursor:default;user-select:none"
              >{{ getTextBoxText(shape.textBox) }}</text>
            }
          }
        }
      </svg>
    </div>
  </div>
</div>
