@if (saveModalOpen()) {
<div class="app-modal-overlay"></div>

<div class="save-modal-container">
  <div [class]="saveModalClassName()" role="dialog" aria-modal="true" aria-labelledby="saveModalTitle">
    <div class="save-modal-title">
      <div id="saveModalTitle" class="save-modal-title-text">Save Document</div>
      <div class="save-modal-title-buttons">
        <button [class]="buttonClassName()" (click)="onClickCancel($event)" aria-label="Close save dialog">
          <ng-container *ngTemplateOutlet="closeIcon(); context: { width: '24px', height: '24px' }"></ng-container>
        </button>
      </div>
    </div>
    <div class="save-modal-content">
      <p>This action will save the current document to the server; it will be available via the full URL in the browser's address bar.</p>
      <p><b>Please do not save any offensive material or sensitive information; anyone with the exact full URL will be able to access the content.</b></p>
      <p>Any saved content is subject to moderation or deletion, at any time, without notice.</p>
    </div>
    <div class="save-modal-buttons">
      <button [class]="buttonClassName()" [style.padding]="'6px'" (click)="onClickCancel($event)" aria-label="Cancel save">
        Cancel
      </button>
      <button [class]="buttonClassName()" [style.padding]="'6px'" (click)="onClickSave($event)" aria-label="Confirm save">
        Save
      </button>
    </div>
  </div>
</div>
}
