/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: sans-serif;
}

div.app-panel-outer {
  flex: 1 0 auto;
  height: 100vh;
  position: relative;
}

div.app-panel {
  width: 100%;
  height: 100%;
  position: absolute;
}

div.app-panel-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

div.app-property-viewer {
  height: 100vh;
  padding: 0px;
  overflow: auto;
  border-left: solid 1px;
}

div.app-property-viewer-light {
  background-color: #f2f2f2;
  border-color: #d2d2d2;
  color: #000000;
}

div.app-property-viewer-dark {
  background-color: #1a1a1a;
  border-color: #1f1f1f;
  color: #ffffff;
}

div.app-property-viewer-inner {
  display: flex;
  width: calc(max(140px, 15vw));
  margin: 4px;
  padding: 0px;
}

div.app-tool-bar {
  height: 100vh;
  padding: 0px;
  overflow: hidden;
  border-right: solid 1px;
}

div.app-tool-bar-light {
  background-color: #f2f2f2;
  border-color: #d2d2d2;
}

div.app-tool-bar-dark {
  background-color: #1a1a1a;
  border-color: #1f1f1f;
}

div.app-tool-bar-inner {
  display: flex;
  width: fit-content;
  margin: 4px;
  padding: 0px;
  column-gap: 4px;
}

div.app-tab-bar {
  padding: 0px;
  width: 100%;
  overflow-x: auto;
  border-bottom: solid 1px;
}

div.app-tab-bar-light {
  background-color: #f2f2f2;
  border-color: #d2d2d2;
}

div.app-tab-bar-dark {
  background-color: #1a1a1a;
  border-color: #1f1f1f;
}

div.app-tab-bar-inner {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0px;
}

div.app-body {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.app-body-dark {
  background-color: #000000;
  color: #ffffff;
}

div.app-body-light {
  background-color: #ffffff;
  color: #000000;
}

div.tool-tip {
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

div.tool-tip-light {
  background-color: #e6e6e6;
  color: #333333;
}

div.tool-tip-dark {
  background-color: #191919;
  color: #e6e6e6;
}

button.styled-button {
  border: 1px solid;
  border-color: transparent;
  padding: 0px;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

button.styled-button:focus {
  outline: 1px solid lightblue;
}

button.styled-button-light {
  background-color: #e6e6e6;
  color: #333333;
}

button.styled-button-light:focus {
  background-color: #cccccc;
  border-color: #999999;
  color: #333333;
}

button.styled-button-light:hover {
  background-color: #cccccc;
  border-color: #999999;
  color: #333333;
}

button.styled-button-light:active {
  background-color: #b3b3b3;
  border-color: #999999;
  color: #333333;
}

button.styled-button-dark {
  background-color: #191919;
  color: #e6e6e6;
}

button.styled-button-dark:focus {
  background-color: #333333;
  border-color: #4d4d4d;
  color: #e6e6e6;
}

button.styled-button-dark:hover {
  background-color: #333333;
  border-color: #4d4d4d;
  color: #e6e6e6;
}

button.styled-button-dark:active {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
  color: #e6e6e6;
}

div.app-tab-bar-tab {
  border-top: solid 2px;
  border-left: solid 1px;
  border-right: solid 1px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  cursor: pointer;
  display: flex;
  user-select: none;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
  gap: 4px;
  text-wrap: nowrap;
}

div.app-tab-bar-tab-active-light {
  background-color: #ffffff;
  border-color: #999999;
  color: #333333;
}

div.app-tab-bar-tab-active-light:hover {
  background-color: #cccccc;
  border-color: #999999;
  color: #333333;
}

div.app-tab-bar-tab-active-dark {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
  color: #e6e6e6;
}

div.app-tab-bar-tab-active-dark:hover {
  background-color: #333333;
  border-color: #4d4d4d;
  color: #e6e6e6;
}

div.app-tab-bar-tab-inactive-light {
  background-color: #e6e6e6;
  border-color: #999999;
  color: #333333;
}

div.app-tab-bar-tab-inactive-light:hover {
  background-color: #cccccc;
  border-color: #999999;
  color: #333333;
}

div.app-tab-bar-tab-inactive-dark {
  background-color: #191919;
  border-color: #4d4d4d;
  color: #e6e6e6;
}

div.app-tab-bar-tab-inactive-dark:hover {
  background-color: #333333;
  border-color: #4d4d4d;
  color: #e6e6e6;
}

a.no-underline {
  text-decoration: none;
}

div.graphics-panel-svg-container {
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

div.graphics-panel-svg-container-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  div.graphics-panel-svg-container-middle {
    justify-content: flex-start !important;
  }
}

@media (max-width: 512px) {
  div.app-property-viewer {
    display: none;
  }

  div.app-tool-bar {
    display: none;
  }
}

div.graphics-panel-svg-container-inner {
  width: 850px;
  height: 1100px;
  margin-top: 40px;
  margin-bottom: 40px;
}

div.app-layer-editor {
  display: flex;
  flex-direction: column;
  width: 95%;
  border-radius: 4px;
  border-style: solid;
  height: 150px;
  overflow-y: auto;
  margin-bottom: 5px;
  border-width: 1px;
}

div.app-layer-editor-light {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

div.app-layer-editor-dark {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
}
