/* You can add global styles to this file, and also import other style files */

button.styled-button {
  border: 1px solid;
  border-color: transparent;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}

button.styled-button:focus {
  outline: 1px solid lightblue;
}

button.styled-button-light {
  background-color: #e6e6e6;
  color: #333333;
}

button.styled-button-light:hover {
  background-color: #cccccc;
  border-color: #999999;
  color: #333333;
}

button.styled-button-light:active {
  background-color: #b3b3b3;
  border-color: #999999;
  color: #333333;
}

button.styled-button-light:focus {
  background-color: #cccccc;
  border-color: #999999;
  color: #333333;
}

button.styled-button-dark {
  background-color: #191919;
  color: #e6e6e6;
}

button.styled-button-dark:hover {
  background-color: #333333;
  border-color: #4d4d4d;
  color: #e6e6e6;
}

button.styled-button-dark:active {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
  color: #e6e6e6;
}

button.styled-button-dark:focus {
  background-color: #333333;
  border-color: #4d4d4d;
  color: #e6e6e6;
}
