/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: sans-serif;
}

div.app-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

div.app-tool-bar {
  height: 100vh;
  padding: 0px;
  overflow: hidden;
  border-right: solid 1px;
}

div.app-tool-bar-light {
  background-color: #f2f2f2;
  border-color: #d2d2d2;
}

div.app-tool-bar-dark {
  background-color: #1a1a1a;
  border-color: #1f1f1f;
}

div.app-tool-bar-inner {
  display: flex;
  width: fit-content;
  margin: 4px;
  padding: 0px;
  column-gap: 4px;
}

div.app-tab-bar {
  height: fit-content;
  padding: 0px;
  overflow-x: auto;
  border-bottom: solid 1px;
}

div.app-tab-bar-light {
  background-color: #f2f2f2;
  border-color: #d2d2d2;
}

div.app-tab-bar-dark {
  background-color: #1a1a1a;
  border-color: #1f1f1f;
}

div.app-tab-bar-inner {
  display: flex;
  height: fit-content;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 0px;
  column-gap: 4px;
}

div.app-body {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.app-body-dark {
  background-color: #000000;
  color: #ffffff;
}

div.app-body-light {
  background-color: #ffffff;
  color: #000000;
}

div.tool-tip {
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

div.tool-tip-light {
  background-color: #e6e6e6;
  color: #333333;
}

div.tool-tip-dark {
  background-color: #191919;
  color: #e6e6e6;
}

button.styled-button {
  border: 1px solid;
  border-color: transparent;
  padding: 0px;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 0px;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

button.styled-button:focus {
  outline: 1px solid lightblue;
}

button.styled-button-light {
  background-color: #e6e6e6;
  color: #333333;
}

button.styled-button-light:focus {
  background-color: #cccccc;
  border-color: #999999;
  color: #333333;
}

button.styled-button-light:hover {
  background-color: #cccccc;
  border-color: #999999;
  color: #333333;
}

button.styled-button-light:active {
  background-color: #b3b3b3;
  border-color: #999999;
  color: #333333;
}

button.styled-button-dark {
  background-color: #191919;
  color: #e6e6e6;
}

button.styled-button-dark:focus {
  background-color: #333333;
  border-color: #4d4d4d;
  color: #e6e6e6;
}

button.styled-button-dark:hover {
  background-color: #333333;
  border-color: #4d4d4d;
  color: #e6e6e6;
}

button.styled-button-dark:active {
  background-color: #4d4d4d;
  border-color: #4d4d4d;
  color: #e6e6e6;
}
