@for (document of documents(); track document.clientUuid) {
  <a [routerLink]="getDocumentUrl(document)" class="no-underline">
    <div [class]="document.clientUuid === activeDocumentClientUuid() ? tabBarTabActiveClassName() : tabBarTabInactiveClassName()" (click)="onTabClick()">
      {{ document.name }}
      <app-tool-tip-button [id]="'close-tab-' + document.documentSlug" [timeout]="1500" toolTipContent="Close" positioning="bottom-left" (mousedown)="onMouseDownClose($event, document)">
        <ng-container *ngTemplateOutlet="closeIcon(); context: { width: '16px', height: '16px' }"></ng-container>
      </app-tool-tip-button>
    </div>
  </a>
}
