

<app-tool-tip-button id="toolbar-new-window-icon" toolTipContent="New" positioning="right-center" (click)="onClickNew()">
  <ng-container *ngTemplateOutlet="newWindowIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>
<!--<app-tool-tip-button id="toolbar-file-open-icon" toolTipContent="Open" positioning="right-center">
  <ng-container *ngTemplateOutlet="fileOpenIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>-->
<app-tool-tip-button id="toolbar-save-icon" toolTipContent="Save" positioning="right-center" [disabled]="saveButtonDisabled()">
  <ng-container *ngTemplateOutlet="saveIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>
<!--<app-tool-tip-button id="toolbar-save-as-icon" toolTipContent="Save As" positioning="right-center">
  <ng-container *ngTemplateOutlet="saveAsIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>-->
<app-tool-tip-button id="toolbar-undo-icon" toolTipContent="Undo (Ctrl+Z)" positioning="right-center" (click)="onClickUndo()">
  <ng-container *ngTemplateOutlet="undoIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>
<app-tool-tip-button id="toolbar-redo-icon" toolTipContent="Redo (Ctrl+Y)" positioning="right-center" (click)="onClickRedo()">
  <ng-container *ngTemplateOutlet="redoIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>
<app-tool-tip-button id="toolbar-copy-icon" toolTipContent="Copy (Ctrl+C)" positioning="right-center" (click)="onClickCopy()">
  <ng-container *ngTemplateOutlet="contentCopyIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>
<app-tool-tip-button id="toolbar-paste-icon" toolTipContent="Paste (Ctrl+V)" positioning="right-center" (click)="onClickPaste()">
  <ng-container *ngTemplateOutlet="contentPasteIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>
<app-tool-tip-button id="toolbar-rectangle-icon" toolTipContent="Rectangle" positioning="right-center" (click)="onClickRectangle()">
  <ng-container *ngTemplateOutlet="rectangleIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>
<app-tool-tip-button id="toolbar-circle-icon" toolTipContent="Circle" positioning="right-center" (click)="onClickCircle()">
  <ng-container *ngTemplateOutlet="circleIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>
<!--<app-tool-tip-button id="toolbar-polyline-icon" toolTipContent="Polyline" positioning="right-center" (click)="onClickPolyline()">
  <ng-container *ngTemplateOutlet="polylineIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>-->
<app-tool-tip-button id="toolbar-text-box-icon" toolTipContent="Text Box" positioning="right-center" (click)="onClickTextBox()">
  <ng-container *ngTemplateOutlet="addNotesIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>
<app-tool-tip-button id="toolbar-toggle-icon" (click)="toggleDarkMode()" toolTipContent="Toggle Dark Mode" positioning="right-center">
  <ng-container *ngTemplateOutlet="toggleDarkModeIcon(); context: { width: '32px', height: '32px' }"></ng-container>
</app-tool-tip-button>
<!--<a href="https://www.linkedin.com/in/ryan-d-2b689aa0" target="_blank">
  <app-tool-tip-button id="toolbar-linkedin-icon" toolTipContent="LinkedIn [New Tab]" positioning="right-center">
    <div style="width:32px;height:32px;display:flex;align-items:center;justify-content:center">
      <img src="/approot/LI-In-Bug.png" width="25" height="21" />
    </div>
  </app-tool-tip-button>
</a>-->
<!--<a href="https://github.com/ryanden2018/aspirational-clover" target="_blank">
  <app-tool-tip-button id="toolbar-github-icon" toolTipContent="GitHub Repository [New Tab]" positioning="right-center">
    <div style="width:32px;height:32px;display:flex;align-items:center;justify-content:center">
      <ng-container *ngTemplateOutlet="githubIcon(); context: { width: '25px', height: '25px' }"></ng-container>
    </div>
  </app-tool-tip-button>
</a>-->
