<app-resources></app-resources>

<button [className]="buttonClassName()">
  <ng-container *ngTemplateOutlet="newWindowIcon(); context: { width: '24px', height: '24px' }"></ng-container>
</button>
<button [className]="buttonClassName()">
  <ng-container *ngTemplateOutlet="saveIcon(); context: { width: '24px', height: '24px' }"></ng-container>
</button>
<button [className]="buttonClassName()">
  <ng-container *ngTemplateOutlet="undoIcon(); context: { width: '24px', height: '24px' }"></ng-container>
</button>
<button [className]="buttonClassName()">
  <ng-container *ngTemplateOutlet="redoIcon(); context: { width: '24px', height: '24px' }"></ng-container>
</button>
<button [className]="buttonClassName()">
  <ng-container *ngTemplateOutlet="contentCopyIcon(); context: { width: '24px', height: '24px' }"></ng-container>
</button>
<button [className]="buttonClassName()">
  <ng-container *ngTemplateOutlet="contentPasteIcon(); context: { width: '24px', height: '24px' }"></ng-container>
</button>
<button [className]="buttonClassName()">
  <ng-container *ngTemplateOutlet="rectangleIcon(); context: { width: '24px', height: '24px' }"></ng-container>
</button>
<button [className]="buttonClassName()">
  <ng-container *ngTemplateOutlet="circleIcon(); context: { width: '24px', height: '24px' }"></ng-container>
</button>
<button [className]="buttonClassName()">
  <ng-container *ngTemplateOutlet="addNotesIcon(); context: { width: '24px', height: '24px' }"></ng-container>
</button>
