<app-resources></app-resources>
<app-anchored-tool-tip></app-anchored-tool-tip>

<div [class]="appToolBarClassName()">
  <div class="app-tool-bar-inner">
    <app-tool-bar></app-tool-bar>
  </div>
</div>

<div class="app-panel">
  <div [class]="appTabBarClassName()">
    <div class="app-tab-bar-inner">
      <app-tab-bar [documents]="documents()" [activeDocumentClientUuid]="activeDocumentClientUuid()"></app-tab-bar>
    </div>
  </div>
  <div [class]="appBodyClassName()">
    <app-graphics-panel [document]="activeDocument()"></app-graphics-panel>
  </div>
</div>
